################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AphasiaGreetingCards/.vs/AphasiaGreetingCards
/AphasiaGreetingCards_current/.vs/AphasiaGreetingCards/v16/Server/sqlite3/db.lock
