@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model AphasiaGreetingCards.Models.GreetingCard


@if (SignInManager.IsSignedIn(User))
{
    ViewData["Title"] = "Create";

    <div class="Page">
        <div class="display-4 text-center">Create a New Greeting Card</div>
        <hr />
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="theme" class="control-label"></label>
                        <input asp-for="theme" class="form-control" />
                        <span asp-validation-for="theme" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="senderUserFullName" class="control-label"></label>
                        <input asp-for="senderUserFullName" class="form-control" value="@UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName" readonly/>
                        <span asp-validation-for="senderUserFullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="recipientUserFullName" class="control-label"></label>
                        <input asp-for="recipientUserFullName" class="form-control" />
                        <span asp-validation-for="recipientUserFullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="fullSentence" class="control-label"></label>
                        <input asp-for="fullSentence" class="form-control" />
                        <span asp-validation-for="fullSentence" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="image" class="control-label"></label>
                        <input asp-for="image" class="form-control" />
                        <span asp-validation-for="image" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="publishedToFacebook" /> @Html.DisplayNameFor(model => model.publishedToFacebook)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

    </div>
}
else
{
    <div class="display-3 text-center">
        You must be logged in to create a new greeting card. <br/>
        <a href="/GreetingCards" class="btn btn-primary"> Back to Greeting Cards List </a>
    </div>
}
