@import url(//db.onlinewebfonts.com/c/460e8698563db983434874f8f371a7d1?family=Museo);

#greetings_card_display {
    font-family: Museo;
    font-size: x-large;
    background-image: url('/images/gradient.jpg');
    background-size: cover;
    align-content: center;
    color: aliceblue;
    margin-bottom: 0;
}

    #greetings_card_display p {
        font-style: italic;
    }

#primaryDisplayContent {
    font-size: 6ex;
}

#profile-form, #change-password-form {
    width: 100%;
}

#defaultRecipientBtn, #defaultRecipientBtnGreetingCard {
    color: red;
}
.list-group-item > a {
    color: black;
}

.navItemLogIn {
    color: mediumpurple !important;
}

.loginImg {
    width: 80%;
    height: auto;
}

.container {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    max-width: none;
}

#ContentContainer {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
}

.jumbotron {
    height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar-nav {
    font-family: Museo;
    font-size: medium;
}

    .navbar-nav > li {
        padding-left: 30px;
        padding-right: 30px;
    }

    .navbar-nav a {
        color: silver;
    }


.cardCol {
    padding: 0;
    margin: 0;
}

.card {
    padding: 0 !important;
    margin: auto !important;
}

.GreetingCardFull {
    width: 250px !important;
}

#welcomeP {
    font-family: Museo;
}

#purpose {
    margin-left: 30vw;
    margin-right: 30vw;
    border-width: 7px !important;
}

.width-lg {
    width: 20vw !important;
}

.width-md {
    width: 10vw !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

#collapsibleNavbar {
    justify-content: start !important;
}

.ui-helper-center {
    text-align: center;
    justify-content: center;
}

.Page {
    margin-top: 2vw !important;
    margin-left: 10vw !important;
    margin-right: 10vw !important;
}

@font-face {
    font-family: "Museo";
    src: url("//db.onlinewebfonts.com/t/460e8698563db983434874f8f371a7d1.eot");
    src: url("//db.onlinewebfonts.com/t/460e8698563db983434874f8f371a7d1.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/460e8698563db983434874f8f371a7d1.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/460e8698563db983434874f8f371a7d1.woff") format("woff"), url("//db.onlinewebfonts.com/t/460e8698563db983434874f8f371a7d1.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/460e8698563db983434874f8f371a7d1.svg#Museo") format("svg");
}


