
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="Page">
    <div class="display-4 text-center"> Statistics </div>
    <hr />
    <div class="row">
        <div id="words"></div>
        <div id="pie">@Html.Partial("Pie")</div>
    </div>

    <script src="~/js/d3.js"></script>
    <script src="~/js/d3.layout.cloud.js"></script>
    <!--Script For Word Counting-->
    <script>
        var keys = @Html.Raw(Json.Serialize(ViewData["keys"]));
        var vals = @Html.Raw(Json.Serialize(ViewData["vals"]));
        (function () {
            var fill = d3.scale.category20();
            var layout = d3.layout.cloud()
                .size([500, 500])
                .words(d3.zip(keys, vals).map(function (d) {
                    return { text: d[0], size: 10 + d[1] * 15 };
                }))
                .padding(5)
                .rotate(function () { return ~~(Math.random() * 2) * 90; })
                .font("Impact")
                .fontSize(function (d) { return d.size; })
                .on("end", draw);
            layout.start();
            function draw(words) {
                d3.select("#words").append("svg")
                    .attr("width", layout.size()[0])
                    .attr("height", layout.size()[1])
                    .append("g")
                    .attr("transform", "translate(" + layout.size()[0] / 2 + "," + layout.size()[1] / 2 + ")")
                    .selectAll("text")
                    .data(words)
                    .enter().append("text")
                    .style("font-size", function (d) { return d.size + "px"; })
                    .style("font-family", "Impact")
                    .style("fill", function (d, i) { return fill(i); })
                    .attr("text-anchor", "middle")
                    .attr("transform", function (d) {
                        return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                    })
                    .text(function (d) { return d.text; });
            }
        })();</script>
    <!--End of Script For Word Counting-->
    
</div>