@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@model AphasiaGreetingCards.Models.SentimentSentence
<!-- NEED TO CHANGE TO ONLY ADMIN USERS -->
@if (SignInManager.IsSignedIn(User) && UserManager.GetUserAsync(User).Result.isAdmin)
{
    ViewData["Title"] = "Create";
    <div class="Page">
        <div class="display-4 text-center">Create a New Sentiment Sentence</div>
        <hr />
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="theme" class="control-label"></label>
                        <input asp-for="theme" class="form-control" />
                        <span asp-validation-for="theme" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="prefix" class="control-label"></label>
                        <input asp-for="prefix" class="form-control" />
                        <span asp-validation-for="prefix" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="recipientUserFirstName" class="control-label"></label>
                        <input asp-for="recipientUserFirstName" class="form-control" />
                        <span asp-validation-for="recipientUserFirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="suffix" class="control-label"></label>
                        <input asp-for="suffix" class="form-control" />
                        <span asp-validation-for="suffix" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="complexity" class="control-label"></label>
                        <input asp-for="complexity" class="form-control" />
                        <span asp-validation-for="complexity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
}
else
{
    <div class="display-4 text-center">
        You must be logged in as admin to create a sentiment sentence. <br />
        <a href="/SentimentSentences" class="btn btn-primary"> Back to Sentiment Sentences List </a>
    </div>
}


