@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model AphasiaGreetingCards.Models.SentimentSentence

@{
    ViewData["Title"] = "Edit";
}

@if (SignInManager.IsSignedIn(User) && UserManager.GetUserAsync(User).Result.isAdmin)
{
    <div class="Page">
        <h4>SentimentSentence</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ID" />
                    <div class="form-group">
                        <label asp-for="theme" class="control-label"></label>
                        <input asp-for="theme" class="form-control" />
                        <span asp-validation-for="theme" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="prefix" class="control-label"></label>
                        <input asp-for="prefix" class="form-control" />
                        <span asp-validation-for="prefix" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="recipientUserID" class="control-label"></label>
                        <input asp-for="recipientUserID" class="form-control" />
                        <span asp-validation-for="recipientUserID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="suffix" class="control-label"></label>
                        <input asp-for="suffix" class="form-control" />
                        <span asp-validation-for="suffix" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="complexity" class="control-label"></label>
                        <input asp-for="complexity" class="form-control" />
                        <span asp-validation-for="complexity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
}
else
{
    <div class="display-3 text-center">
        You must be logged in as admin to edit a sentiment sentence. <br />
        <a href="/SentimentSentences" class="btn btn-primary"> Back to Sentiment Sentences List </a>
    </div>
}
