@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div>
    <div class="row Page">
        <div class="col-md-4">
            <img src="~/images/personalDataImg.png" alt="Login" class="loginImg">
        </div>
        <div class="col-md-4">
            <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
            <p>
                <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
            </p>
            <div>
                <a asp-page="DeletePersonalData" class="btn btn-primary">Delete</a>
            </div>
        </div>

        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
    </div>

</div>

